@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Font;
  src: url(./fonts/dana-fanum-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Font;
  src: url(./fonts/dana-fanum-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Font;
  src: url(./fonts/dana-fanum-bold.ttf);
  font-weight: 700;
}


body {
  font-family: Font;
  background-color: #f5f5f5;
}
